@charset "utf-8";
/* CSS Document */
body
{
	font-family:"微軟正黑體";
}
#main
{
	width:1034px;
	padding:10px;
	margin:20px auto 20px auto;
	border:#000 solid 1px;
	min-height:768px;
}
#top a
{
	color:#CE631C;
	text-decoration:none;
}
#left
{
	display:inline-block;
	width:20%;
	padding:2%;
	min-height:550px;
	vertical-align:top;
	border:#000 1px solid;
}
#left a
{
	display:block;
	padding:20px 5px 20px 5px;
	text-decoration:none;
	background:#F4C591;
	margin:10px auto 10px auto;
	color:#65350A;
}
.ct
{
	text-align:center;
}
#right
{
	display:inline-block;
	width:65%;
	padding:2%;
	min-height:550px;
	border:#000 1px solid;
}
#bottom
{
	height:70px;
	background-size:cover;
}
.al
{
	padding:10px;
	text-align:center;
}
.all
{
	width:90%;
	margin:10px auto 10px auto;
}
.all td
{
	min-width:100px;
	padding:10px;
}
.tt
{
	background:#EF7429;
}
.tt td
{
	background:#EF7429;
}
.pp
{
	background:#EFCA85;
}
.pp td
{
	background:#EFCA85;
}
input[type=text],input[type=password],input[type=submit],button,.button,input[type=reset],input[type=button],select，textarea,input[type=number]
{
	background:#F3F3F3;
	border:#CCC 1px solid;
	border-radius:3px;
	padding:5px 8px 5px 8px;
	text-decoration:none;
	margin:3px;
	color:#333;
}
input[type=text],input[type=password]
{
	width:150px;
}
.s
{
	display:none;
}
div.ww:hover > div.s
{
	display:block;
}
.sb button
{
	font-size:12px;
}
.mg{
	margin: 0 auto;
}
.blo{
	display: block;
}
.dpn{
	display: none;
}
.pos_r{
	position: relative;
}
.pos_a{
	position: absolute;
}
.pos_ct{
	left: 50%;
	transform: translateX(-50%);
}
.float_r{
	float: right;
}
.float_l{
	float: left;
}
.flex{
	display: flex;
}
.flex_jc{
	justify-content: center;
}
.flex_ja{
	justify-content: space-around;
}
.flex_jb{
	justify-content: space-between;
}
.flex_w{
	flex-wrap: wrap;
}
.fs12{
	font-size: 12px;
}
.fs24{
	font-size: 24px;
}
.red{
	color: #f00;
}
.oy_s{
	overflow-y: scroll;
}
.h0{
	height: 0px;
}
.h50{
	height: 50px;
}
.h100{
	height: 100px;
}
.h150{
	height: 150px;
}
.h200{
	height: 200px;
}
.h250{
	height: 250px;
}
.h300{
	height: 300px;
}
.h350{
	height: 350px;
}
.h400{
	height: 400px;
}
.h450{
	height: 450px;
}
.h500{
	height: 500px;
}
.w5{
	width: 5%;
}
.w10{
	width: 10%;
}
.w15{
	width: 15%;
}
.w20{
	width: 20%;
}
.w25{
	width: 25%;
}
.w30{
	width: 30%;
}
.w35{
	width: 35%;
}
.w40{
	width: 40%;
}
.w45{
	width: 45%;
}
.w50{
	width: 50%;
}
.w60{
	width: 60%;
}
.w70{
	width: 70%;
}
.w80{
	width: 80%;
}
.w90{
	width: 90%;
}
.w100{
	width: 100%;
}
